label{
    color: orange;
    text-align: center;
}
p{
    color: orange;
    text-align: center;
    background-color: blue;
}
h1{
    color: orange;
    text-align: center;background-color: blue;
}
h2{
    color: orange;
    text-align: center;background-color: blue;
}
div{
    text-align: center;
    background-color: rgb(255, 94, 0);

}
body{
    background-color: gray;
}
img{
    height: 500px;
    width: 700px;
}
button{
    font-size: large;
    width: 150px;
    height: 100px;
    text-align: center;
}