h1{
    color: rgb(255, 0, 0);
    text-align: center;
    font-size: 60px;
    padding: 60px;
    /* shordeba 20 pixelit yvela mxridan */
    margin: 30px 50px;
    /* tavidan da qvemodan 10 pxelit shordeba da marcxniv da marjvniv 20 px-it saits */
}
p{
    color: white;
    text-align: center;
    font-size: 28px;

}
.box1{
    color: blue;
    text-align: center;
    font-size: 28px;
    margin-right: 50%;
}
.box2{
    color: green;
    text-align: center;
    font-size: 28px;
}
.box3{
    color: yellow;
    text-align: center;
    font-size: 28px;
    margin-left: 50%;
}
img{
    height: 200px;
    width: 600px;
    margin-left:30%;
    /* marginit gavcentre */
}

.pdiv{
    background-color: rgb(255, 0, 0);
    padding: 40px 70px; 
    /* divshi tavidan da qvemodan 10 pxelit shordeba da marcxniv da marjvniv 20 px-it */
    margin: 50px; 
    /* saitis gverdebidan ashorebs divs 20px-it*/
}


.pbox{
    height: 800px;
    width: 800px;
    background-color: gray;
    
    
}
.cbox1{
    height: 50%;
    width: 40%;
    background-color: green;
    
    
}
.cbox2{
    height: 46.5%;
    width: 40%;
    background-color: yellow;
    margin-left: 60%;
    margin-bottom: 200%;
}
.P2{
   padding: 35% 35%; 
   color: blue;
}
.P3{
   padding: 30% 35%; 
   color: greenyellow;
}