/* div{
    height: 500px;
    width: 400px;
    background-color: green;
} */
#dp{
    height: 500px;
    width: 500px;
    background-color: green;
}
.dc1{
    height:20% ;
    width: 100%;
    background-color: blue;
}
.dc2{
    height:20% ;
    width: 100%;
    background-color: rgb(255, 238, 0);
}
.dc3{
    height:20% ;
    width: 100%;
    background-color: rgb(106, 0, 255);
}
.dc4{
    height:20% ;
    width: 100%;
    background-color: rgb(242, 0, 255);
}
.dc5{
    height:20% ;
    width: 100%;
    background-color: rgb(255, 0, 0);
}